@import './index.variables.scss';
@import './index.colors.scss';

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text;
}

#root {
  height: 75vh;
  box-shadow: 0 0 2px gray;

  h1 {
    font-size: 64px;
    font-weight: bold;
    word-spacing: 0;
    line-height: 84px;
  }

  @media all and (max-width: $mobileWidth) {
    height: 100vh;
    width: 100vw;
  
    h1 {
      font-size: 44px;
    }
  }
}